h1{
    color: black;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    
}
.btn btn-success{
    text-align: right;
}
#phuket{
    background-color:lavender;
}
#temp{
    background-color:#6060FB;
}
.row.space{
    margin-left: 5px;
}